.grid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 26rem;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.cardText {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header1 header1 header1"
    "asideLeft header2 asideRight"
    "asideLeft main asideRight"
    "asideLeft footer2 asideRight"
    "footer1 footer1 footer1"; /* <-- alterado aqui */
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 6rem 4rem 1fr 4rem 4rem;
  min-height: 100vh;
  gap: 1rem;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header1 header1"
      "header2 header2"
      "asideLeft main"
      "footer2 footer2"
      "footer1 footer1"; /* <-- alterado aqui */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6rem 4rem 1fr 4rem 4rem;
  }
  @media (max-width: 768px) {
    grid-template-areas:
      "header1"
      "main"
      "footer1";
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 4rem;
  }
}

.header1 {
  grid-area: header1;
  background: #111f12;
  color: #f8f7f7;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 9rem; 
}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer1 {
  grid-area: footer1;
  background: #c91103;
  color: #fff;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 4rem 1rem;  
  min-height: 15rem;      
}

/* Responsividade */
@media (max-width: 1200px) {
  .container {
    grid-template-areas:
      "header1 header1"
      "header2 header2"
      "asideLeft main"
      "footer2 footer2"
      "footer1 footer1";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6rem 4rem 1fr 4rem 4rem;
  }
  .asideRight {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header1"
      "main"
      "footer1";
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 4rem;
  }
  .asideLeft,
  .asideRight,
  .header2,
  .footer2 {
    display: none;
  }
}
