.productCard {
  border: 1px solid #b71c1c;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: #222;
  color: #f0f0f0;
}

.productImage {
  width: 40%;
  border-radius: 0.5rem;
  border: 3px solid #b71c1c;
}

.productTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.productDescription {
  font-size: 1rem;
  color: #f0f0f0;
}

.productPrice {
  font-size: 1.2rem;
  color: #e8dd13;
  font-weight: bold;
  margin: 1rem 0;
}

.productButton {
  background-color: #f1f50b;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.2s;
}

.productButton:hover {
  background-color: #eafa0b;
}

.container {
  background: #181818;
  color: #f0f0f0;
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.productList {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  width: 100%;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.item {
  background: #e6f107;
  border: 1px solid #ede911;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.form input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #967272;
  background: #333;
  color: #fff;
}

.form button {
  background: #eeee0d;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.form button:hover {
  background: #d32f2f;
}

.item button {
  margin-right: 0.5rem;
  background: #e8ec0d;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background 0.2s;
}

.item button:hover {
  background: #f3ff16;
}